{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'global/styles/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'global/styles/main.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% block styles %} {% endblock %}
</head>
<body>
    <header>
        <div class="content">
            <h2><i class="fa-solid fa-blog"></i></h2>
            {% block continuetoblog %} {% endblock %}
        </div>
    </header>
    <nav>
        <span class="dark active" data-color="dark"></span>
        <span class="light" data-color="light"></span>
        {% block linkes %} {% endblock %}
    </nav>
    {% block main %} {% endblock %}
    <footer>
        <div class="container">
            <div class="content">
                <div>
                    <h3>Made by:</h3>
                    <span>Ahmed Elsellamy</span>
                    <span>Ahmed Alaa</span>
                    <span>Nourhan Abdelaziz</span>
                </div>
                <div>
                {% block foot %}{% endblock %}
                </div>
                <div>
                    <h3><i class="fa-solid fa-blog"></i></h3>
                    <p>&copy;2022<i class="fa-solid fa-bolt"></i></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'global/scripts/main.js'%}"></script>
    {% block script %} {% endblock %}
</body>
</html>