{% load widget_tweaks %}

{% for field in form %}
<div class="user-box">
    {% if form.is_bound %}
        {% if field.errors %}
            {{ field }}
            {{ field.label_tag }}
            {% for error in field.errors %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endfor %}
        {% else %}
            {{ field }}
            {{ field.label_tag }}
        {% endif %}
    {% else %}
        {{ field }}
        {{ field.label_tag }}
    {% endif %}
    
</div>
{% endfor %}