{% extends 'global/base.html' %}
{% load static %}

{% block title %}home page{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'accounts/styles/user_menu.css' %}">
<link rel="stylesheet" href="{% static 'main/styles/landing.css' %}">
{% endblock %}



{% block linkes %} 

{% if user.is_authenticated %}
    <div class="links">
        <div class="icons">
            {{user.username}}
        </div>
        <ul>
            {% if user.is_staff  %}
            <li><a href="{% url 'admin_panel' user.id %}">Manage blog</a></li>
            {% endif %}
            <li><a href="{%url 'change_password'%}">ِChange password</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
{% else %} 
    <div class="links">
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'register' %}">REGISTER</a>
    </div>
{% endif %}

{% endblock %}

{% block main %}
<main>
    <aside>
        <div class="content-side">
            <div class="icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="categories">
                {%for cat in categories%}
                <div>
                    <p>{{cat.category_name}}</p>
                    <span></span>
                    {%if user in cat.subscribe.all%}
                        <form action = "{%url 'unsubscribe-category' cat.pk%}" method = 'POST'>
                            {% csrf_token %}
                            <button value = {{cat.pk}}  name = "unsubscribe">UnSubscribe</button>
                            <br>
                        </form>
                    {%else%}
                    <form action = "{%url 'subscribe-category' cat.pk%}" method = 'POST'>
                        {% csrf_token %}
                        <button value = {{cat.pk}} name = "subscribe">Subscribe {{cat.totalsubscribs}}</button>
                        <br>
                    </form>
                    {%endif%}
                </div>
                {%endfor%}
                
    
            </div>
        </div>
    </aside>
    <section class="main">
        <h3>Top posts</h3>
        {{post}}
        <div class="body-main">
            <div class="box">
            {% for object in page_obj %}
                <span style="--i:{{forloop.counter}}">
                    <a href="{{object.get_post_details_url}}">
                        <picture>
                            <img src="{{object.get_image_url}}" />
                            <p>{{object.post_title}}</p>
                            <p class="date">{{object.post_created_at}}</p>
                        </picture>
                    </a>
                </span>
            {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block foot %}

<div class="pagination">
    
    <div class="icon left" {% if page_obj.has_previous %}active{% endif %}>
        <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
            <span></span>
        </a>
    </div>
    <div class="pages">
    {% for i in page_obj.paginator %}
        <div class="box {% if page_obj.number == forloop.counter %} current {% endif %}">
            <a href="?page={{ forloop.counter }}">
            {{ forloop.counter }}
            </a>
        </div>
    {% endfor %}
    </div>
    <div class="icon right" {% if page_obj.has_next %}active{% endif %}>
        <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
            <span></span>
        </a>
    </div>
    
</div>
{% endblock %}

{% block script %}
<script src="{% static 'main/scripts/landing.js' %}"></script>
{% endblock %}