{% extends 'global/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'accounts/styles/form_styles.css' %}">
{% endblock %}

{% block main %} 
<main>
    <div class="login-box">
        <div class="login-action">
            <h2 class="login"><a style="pointer-events: none;">Change password</a></h2>
        </div>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="login form" active-form >
                {% include 'global/forms.html' %}
            </div>
            <div class="register form" >
            </div>
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
        </form>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="{% static 'accounts/scripts/form_scripts.js'%}"></script>
{% endblock %}