{% extends 'global/base.html' %}
{% load static %}

{% block title %}sucssfully Changed{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'accounts/styles/form_styles.css' %}">
{% endblock %}

{% block main %} 

    <div style="text-align: center;">
            <h4>your password changed sucssfully</h4>
            <a href ="{%url 'home'%}">back to home </a>
    </div>

{% endblock %}

{% block script %}
<script src="{% static 'accounts/scripts/form_scripts.js'%}"></script>
{% endblock %}