{% extends 'global/base.html' %}
{% load static %}

{% block title %}sucssfully Changed{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'accounts/styles/form_styles.css' %}">
{% endblock %}

{% block main %} 

<main>
    <div class="login-box">
        <h2 style="color: var(--text-color)">your password changed successfully</h2>
        <button style="background-color: transparent; outline: none; border: none; margin: 20px auto;">
            <span></span>
            <span></span>
            <span></span>
            <a href ="{% url 'home' %}" 
                style="text-decoration: none; text-transform: uppercase; color: var(--main-color)">
                back to home</a>
        </button>
    </div>
</main>

{% endblock %}

{% block script %}
<script src="{% static 'accounts/scripts/form_scripts.js'%}"></script>
{% endblock %}