{% extends 'base.html' %}
{% load static %}

{% block title %}home page{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'accounts/styles/user_menu.css' %}">
{% endblock %}

{% block linkes %} 

{% if user.is_authenticated %}
    <div class="links">
        <div class="icons">
            {{user.username}}
        </div>
        <ul>
            <li><a href="#profile">Profile</a></li>
            <li><a href="#changepassword">ِChange password</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>
{% else %} 
    <div class="links">
        <a href="{% url 'login' %}">LOGIN</a>
        <a href="{% url 'register' %}">REGISTER</a>
    </div>
{% endif %}

{% endblock %}

{% block main %} 
<main>
    The landing page
</main>
{% endblock %}

{% block script %}
<script src=""></script>
{% endblock %}