:root {
    --main-color: #03e9f4; 
    --back-color-1: #141e30;
    --back-color-2: #243b55;
    --text-color: #fff;
    --box-color: rgba(0, 0, 0, 0.5); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: linear-gradient(var(--back-color-1), var(--back-color-2));
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 576px) {
    .container {
        width: 570px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}

@media (min-width: 1230px) {
    .container {
        width: 1220px;
    }
}

main {
    position: relative;
}

header, footer {
    background: var(--box-color);
}
.content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

header .content {
    padding: 15px;
}

footer .content :not(:last-child){
    margin-bottom: 20px;
}

footer .content div.flex {
    margin-top: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    position: relative;
    padding-left: 20px;
    background: rgba(0, 0, 0, 0.2);
}

nav span {
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav .dark {
    background: linear-gradient(#141e30, #243b55);
}

nav .light {
    background: linear-gradient(#e7e7e7, #b6b6b6);
}

nav .active {
    box-shadow: 0 5px 25px #fff, 0 5px 25px rgb(9, 8, 8);
}

header .content h2{
    font-size: 40px;
}


