{% extends 'global/base.html' %}
{% load static %}

{% block title %}Create New Post{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'categories/styles/post_styles.css' %}">
{% endblock %}

{% block continuetoblog %} 
<p>continue to blog</p>
{% endblock %}

{% block main %} 
    <main>
        <div class="container">
            <h2>Create New Post <i class="fa-solid fa-square-plus"></i></h2>
            <div class="post-box">
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'global/forms.html' %}
                    <button type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        Post
                    </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}

{% endblock %}

