{% extends 'global/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'categories/styles/post_styles.css' %}">
{% endblock %}
{% block main %}
    <div class="container">
    <h1>Posts</h1>
    <ul>
    {% for post in object_list %}
        <li><a href="{% url 'post-details' post.pk %}">{{ post.post_title }}</a>
        {{ post.post_user_id}} - <a href="{% url 'edit-post' post.pk %}">Edit this post</a>
            <a href="{% url 'delete-post' post.pk %}">Delete this post</a>
            <br><br>
        </li>
        <li>
            {% comment %} those were the states of likes and dislikes {% endcomment %}

            {%if user in post.likes.all%}
            <form action = "{%url 'unlike-post' post.pk%}" method = 'POST'>
                {% csrf_token %}
                <button value = {{post.pk}} , name = "unpost_like" , class ="btn btn-primary btn-sm">unLike {{post.total_likes}}</button>
                <br>
            </form>
            {%elif user not in post.dislikes.all%}
            <form action = "{%url 'like-post' post.pk%}" method = 'POST'>
                {% csrf_token %}
                <button value = {{post.pk}} , name = "post_like" , class ="btn btn-primary btn-sm">Like {{post.total_likes}}</button>
                <br>
            </form>
            {%endif%}
            {%if user in post.dislikes.all%}
            <form action = "{%url 'undislike-post' post.pk%}" method = 'POST'>
                {% csrf_token %}
                <button value = {{post.pk}} , name = "undspost_like" , class ="btn btn-primary btn-sm">undislike {{post.total_dis_likes}}</button>
                <br>
            </form>
            {%elif user not in post.likes.all%}
            <form action = "{%url 'dislike-post' post.pk%}" method = 'POST'>
                {% csrf_token %}
                <button value = {{post.pk}} , name = "post_dislike" , class ="btn btn-primary btn-sm">dislike {{post.total_dis_likes}}</button>
                <br>
            </form>
            {%endif%}
            
        </li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}