{% extends 'global/base.html' %}
{% load static %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'categories/styles/post_details.css' %}">
{% endblock %}

{% block continuetoblog %} 
<p><a href="{% url 'home' %}" style="text-decoration: none; color:var(--text-color)">continue to blog</a></p>
{% endblock %}

{% block main %}
<main>
  <div class="container">
    <h2>"{{ post.post_title }}"</h2>
    <p>BY: {{ post.post_user_id }} - {{ post.post_created_at }}</p>
    <br><hr>
    <br><br>
    <img src="{{ post.get_image_url }}" alt="..."><br><br>
    <p class="post-content">{{ post.post_content }}</p>
    <a href="{% url 'home' %}">Back to home</a>
    <br><br><hr>
    <h3>Comments...</h2>
    <br>
    <div class="post-box">
      {% if user.is_authenticated %}
      <form method="post" novalidate class="comment-form">
          {% csrf_token %}
          {% for field in form %}
            <div class="user-box">
              {{field}}
            </div>
          {% endfor %}
          <button type="submit">
              Add comment <i class="fas fa-comments"></i>
          </button>
      </form>
      {% else %}
      <a href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
      {% endif %}
    </div>

      <div class="comments-section">
        {% if comments %}
        <strong class="number">{{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}</strong>
        <hr>
        <ul>
          {% for comment in comments %}
          <li>
          <div>
              <span>
                <strong>{{ comment.comment_user_id }} </strong>
                <small>{{ comment.comment_time }}</small>
              </span>
              <p>
                {{ comment.comment_content|safe }}
              </p>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
          <strong>No comments yet...</strong>
        {% endif %}
      </div>
</div>
<div class="hidden" style="display: none;">
{% for word in forbidden_words %}
<div class="word">{{word}}</div>
{% endfor %}
</div>
</main>
{% endblock %}
{% block script %}
<script src="{% static 'categories/scripts/forbidden_words.js' %}"></script>
{% endblock %}