nav .links {
    position: absolute;
    top: 0;
    right: 25px;
    display: inline-block;
}

nav .links:hover ul {
    display: block;
}

nav .links ul {
    list-style-type: none;
    margin-top: -5px;
    padding: 0;
    position: absolute;
    right: 5px;
    min-width: 250px;
    top: 100%;
    display: none;
    background-color: var(--box-color);
    z-index: 3000;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

nav .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

nav .links ul li a:hover{
    padding-left: 25px;
}

nav .links ul li:not(:last-child) a {
    border-bottom: 1px solid var(--back-color-2);
}

nav .links > a {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient(var(--back-color-2), var(--back-color-1));
    color: var(--text-color);
    margin: 5px;
    padding: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

nav .links > a:hover {
    box-shadow: 0 5px 25px #fff, 0 5px 25px rgb(9, 8, 8);
}

nav .icons {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
}