main .container h2 {
    color: var(--text-color);
    padding: 20px 20px 0;
    font-size: 30px;
    font-weight: 500;
}

main .container .post-box {
    padding: 20px;
    background: linear-gradient(var(--box-color), var(--back-color-1), var(--back-color-1));
    box-shadow: 0 10px 25px var(--box-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px;
}

main .container .post-box form {
    height: 70vh;
    display: grid;
    grid-template-rows: 1.5fr 6.5fr 1fr 1fr 1fr;
    gap: 10px;
}

main .container .post-box form .user-box {
    position: relative;
}

main .container .post-box form .user-box input,
main .container .post-box form .user-box textarea {
    height: calc(100% - 20px);
    margin: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 0 10px 25px var(--back-color-1), 1px 10px 10px var(--back-color-2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: calc(100%-20px);
}