{% extends 'global/base.html' %}
{% load static %}

{% block title %}Create{% endblock %}

{% block styles %} 
<link rel="stylesheet" href="{% static 'categories/styles/categories_styles.css' %}">
{% endblock %}

{% block continuetoblog %} 
<p><a href="{% url 'home' %}" style="text-decoration: none; color:var(--text-color)">continue to blog</a></p>
{% endblock %}

{% block main %} 
    <main>
        <div class="container">
            <h2>Create <i class="fa-solid fa-square-plus"></i></h2>
            <div class="post-box">
                <form method="post" novalidate enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include 'global/forms.html' %}
                    <button type="submit">
                        <span></span>
                        <span></span>
                        <span></span>
                        Add
                    </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}


